@font-face {
    font-family: "sans-300";
    src: url("fonts/museo-sans-cyrl-300/museo-sans-cyrl-300.eot");
    src:local('MuseoSansCyrl-300'),
        local('museo-sans-cyrl-300'),
        url("fonts/museo-sans-cyrl-300/museo-sans-cyrl-300.eot?#iefix")format("embedded-opentype"),
        url("fonts/museo-sans-cyrl-300/museo-sans-cyrl-300.woff") format("woff"),
        url("fonts/museo-sans-cyrl-300/museo-sans-cyrl-300.woff2") format("woff2"),
        url("fonts/museo-sans-cyrl-300/museo-sans-cyrl-300.svg") format("svg"),
        url("fonts/museo-sans-cyrl-300/museo-sans-cyrl-300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "sans-500";
    src: url("fonts/museo-sans-cyrl-500/museo-sans-cyrl-500.eot");
    src:local('MuseoSansCyrl-500'),
        local('museo-sans-cyrl-500'),
        url("fonts/museo-sans-cyrl-500/museo-sans-cyrl-500.eot?#iefix")format("embedded-opentype"),
        url("fonts/museo-sans-cyrl-500/museo-sans-cyrl-500.woff") format("woff"),
        url("fonts/museo-sans-cyrl-500/museo-sans-cyrl-500.woff2") format("woff2"),
        url("fonts/museo-sans-cyrl-500/museo-sans-cyrl-500.svg") format("svg"),
        url("fonts/museo-sans-cyrl-500/museo-sans-cyrl-500.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "sans-700";
    src: url("fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.eot");
    src:local('MuseoSansCyrl-700'),
        local('museo-sans-cyrl-700'),
        url("fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.eot?#iefix")format("embedded-opentype"),
        url("fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.woff") format("woff"),
        url("fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.woff2") format("woff2"),
        url("fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.svg") format("svg"),
        url("fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "sans-900";
    src: url("fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.eot");
    src:local('MuseoSansCyrl-900'),
        local('museo-sans-cyrl-900'),
        url("fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.eot?#iefix")format("embedded-opentype"),
        url("fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.woff") format("woff"),
        url("fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.woff2") format("woff2"),
        url("fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.svg") format("svg"),
        url("fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}