@media (max-width: 1279px) {

/*begin header*/
/*begin block .b-header-top*/
.b-container {
    width: 100%;
    padding: 0 20px;
}

.b-header-top {
    margin-bottom: 12px;
}

.b-header-top__city {
    font-family: "sans-700";
    font-size: 11px;
    letter-spacing: 0.275px;
    width: 180px;
}

.b-header-top__menu {
    margin-left: 60px;
    margin-right: 50px;
}

.b-header-top__menu-item {
    font-family: "sans-700";
    font-size: 11px;
    letter-spacing: 0.275px;
}

.b-header-top__phone {
    padding-right: 5px;
}

.b-header-top__phone a {
    font-family: "sans-700";
    font-size: 11px;
}
/*end block .b-header-top*/

/*begin block .b-header-undertop*/
.b-header-undertop {
    margin-bottom: 13px;
}

.b-header-undertop__search-input {
    width: 410px;
}

.b-header-undertop__logo {
    padding-left: 0px;
}

.b-header-undertop__form-section {
    margin-left: 100px;
    margin-right: 60px;
}

.b-header-undertop__account {
    padding-right: 5px;
}
/*end block .b-header-undertop*/

/*begin block .b-header-center*/


.b-header-center__menu-item a {
    font-family: "sans-700";
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
}
/*end block .b-header-center*/
/*end header*/

/*begin main*/
/*begin block .b-main-slider*/
.b-main-slider__left-rifle {
    top: 320px;
}

.b-main-slider__right-rifle {
    top: 320px;
}

.b-main-slider {
    margin-bottom: 26px;
}

.b-main-slider__image-1280 {
    display: none;
}

.b-main-slider__image-960 {
    display: block;
    width: 100%;
}

.b-main-slider__image-600 {
    display: none;
}

.b-main-slider__image-320 {
    display: none;
}
/*end block .b-main-slider*/

/*begin block .b-main-interesting*/
.b-main-interesting-area {
    margin-bottom: 27px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting__caption {
    font-size: 20px;
    margin-bottom: 8px;
}

.b-main-interesting {
    margin-bottom: 19px;
    padding-left: 0px;
    margin-right: 0px;
}

.b-main-interesting__item {
    margin-bottom: 12px;
    margin-right: 0px;
    width: 50%;
    padding: 4px;
}

.b-main-interesting .b-main-interesting__item--size {
    width: 25%;
}

.b-main-interesting__big-item {
    display: flex;
    width: 50%;
}

.b-main-interesting__item-1280 {
    display: none;
}

.b-main-interesting__item-960 {
    display: block;
    width: 100%;
}

.b-main-interesting__item-600 {
    display: none;
}

.b-main-interesting__item-320 {
    display: none;
}
/*end block .b-main-interesting*/

/*begin block .b-main-advantages*/
.b-main-advantages {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 28px;
}

.b-main-advantages .b-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
}

.b-main-advantages__item {
    width: 25%;
}

.b-main-advantages__item-figure {
    width: 200px;
}

.b-main-advantages__item-figure a {
    margin-right: 9px;
}

.b-main-advantages__item-figure figcaption {
    width: 124px;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-960 {
    width: 91px;
}
/*end block .b-main-advantages*/

/*begin block .b-main-choice*/
.b-main-choice-area {
    margin-bottom: 13px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-choice-area .b-container {
    margin-bottom: 21px;
}

.b-main-choice__caption {
    font-size: 20px;
    margin-bottom: 11px;
}

.b-main-choice {
    grid-auto-rows: 50%;
}

.b-main-choice__item-img-link {
    margin-bottom: 14px;
}

.b-main-choice__item-img-link img {
    width: 100%;
}

.b-main-choice__item-txt-link {
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;
}
/*end block .b-main-choice*/

/*begin block .b-main-brands*/
.b-main-brands-area {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 44px;
}

.b-main-brands__caption-area {
    margin-bottom: 0px;
}

.b-main-brands__all-brands {
    padding-top: 11px;
    padding-right: 0px;
}

.b-all-brands-positioner {
    padding-right: 0px;
}

.b-main-brands__all-brands-btn {
    padding: 5px 15px;
}

.b-main-brands {
    padding-left: 0px;
    padding-right: 0px;
}

.b-main-brands__slider-item {
    display: inline-block;
    border: 1px solid #e0e0e0;
    margin-left: 5px;
    margin-right: 5px;
    /* box-sizing: content-box; */
}

.b-main-brands__item {
    height: 100px;
    width: 100%;
}

.b-main-brands__item a img {
    width: 100%;
}

.b-main-brands__big-item {
    margin-bottom: 15px;
}

.b-main-brands__big-item-image-1280 {
    display: none;
}

.b-main-brands__big-item-image-960 {
    display: block;
    width: 100%;
}

.b-main-brands__big-item-image-600 {
    display: none;
}

.b-main-brands__big-item-image-320 {
    display: none;
}
/*end block .b-main-brands*/

/*begin block .b-main-interesting-products*/
.b-main-interesting-products {
    margin-bottom: 24px;
}

.b-main-interesting-products .b-container {
    margin-bottom: 63px;
}

.b-main-interesting-products__caption-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.b-main-interesting-products__caption {
    font-size: 20px;
}

.b-main-interesting-products__all-products {
    display: flex;
    padding-top: 15px;
}

.b-main-interesting-products__slider-item {
    display: inline-block;
    margin-right: 50px;
    margin-left: 0px;
    outline: none;
}

.b-main-interesting-products__item-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
    padding-right: 0px;
    margin-right: 0px;
}

.b-main-interesting-products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 180px;
}

.b-main-interesting-products__item-photo {
    margin-bottom: 0px;
    width: 180px;
    height: 180px;
    align-self: center;
}

.b-main-interesting-products__item-photo-1280 {
    display: none;
}

.b-main-interesting-products__item-photo-960 {
    display: block;
    width: 100%;
    height: 100%;
}

.b-main-interesting-products__item-name {
    width: 180px;
    font-size: 13px;
    margin-bottom: 0px;
}

.b-main-interesting-products__item-name a {
    color: inherit;
    text-decoration: none;
}

.b-main-interesting-products__item strong {
    font-family: "sans-900";
    font-size: 25px;
}

.b-currency {
    font-family: "sans-900";
    font-size: 12px;
}
/*end block .b-main-interesting-products*/

/*begin block .b-main-knowledge-power*/
.b-main-knowledge-power {
    margin-bottom: 30px;
}

.b-main-knowledge-power .b-container {
    margin-bottom: 20px;
}

.b-main-knowledge-power__item {
    height: 875px;
    font-size: 80px;
}
/*end block .b-main-knowledge-power*/

/*begin block .b-main-recently-viewed*/
.b-main-recently-viewed {
    margin-bottom: 86px;
}

.b-main-recently-viewed__caption {
    font-size: 20px;
}

.b-main-recently-viewed__all-viewed {
    padding-top: 11px;
    padding-right: 10px;
}

.b-main-recently-viewed__left-rifle {
    margin-right: 10px;
}

.b-main-recently-viewed__left-rifle img {
    height: 25px;
}

.b-main-recently-viewed__right-rifle img {
    height: 25px;
}

.b-main-recently-viewed__item-area {
    margin: 0px;
    padding-left: 50px;
}

.b-main-recently-viewed__item {
    padding-bottom: 0px;
}

.b-main-recently-viewed__item-photo {
    margin-right: 18px;
}

.b-main-recently-viewed__item-name {
    margin-bottom: 2px;
}
/*end block .b-main-recently-viewed*/

/*begin block .b-main-stay-touch*/
.b-main-stay-touch__caption {
    font-size: 20px;
    margin-bottom: 9px;
}

.b-main-stay-touch__message br {
    display: none;
}

.b-main-stay-touch__message {
    width: 370px;
    line-height: 20px;
}

.b-main-stay-touch__form-input {
    padding: 6px;
    padding-top: 7px;
    margin-right: 7px;
    width: 270px;
    font-size: 15px;
}

.b-main-stay-touch__form-button {
    padding-left: 25px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 13px;
}
/*end block .b-main-stay-touch*/
/*end main*/

/*begin footer*/
/*begin block b-footer-top*/
.b-footer-top-area {
    margin-bottom: 24px;
}

.b-footer-top__caption {
    margin-bottom: 7px;
}

.b-footer-top__list {
    width: 200px;
    padding-right: 0px;
}

.b-footer-top-item a br {
    display: block;
}

.b-footer-top__questions {
    padding-right: 0px;
}

.b-footer-top__questions-rphone {
    width: 220px;
}

.b-footer-top__questions-social {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.b-footer-top__questions-social a {
    margin-right: 14px;
}

.b-footer-top__questions-social img {
    width: 35px;
    height: 35px;
}
/*end block b-footer-top*/

/*begin block b-footer-bottom*/
.b-footer-bottom__company-copyright {
    padding-left: 0px;
}

.b-footer-bottom__developer-copyright {
    margin-right: 22px;
    margin-top: 0px;
}

.b-footer-bottom {
    padding-bottom: 20px;
}
/*end block b-footer-bottom*/
/*end block footer*/

@media (max-width: 959px) {

/*begin header*/
/*begin block .b-header-top*/
.b-container {
    width: 100%;
    padding: 0 20px;
}

.b-header-top {
    display: none;
}
/*end block .b-header-top*/

/*begin block .b-header-undertop*/
.b-header-undertop {
    margin-bottom: 0px;
    align-items: center;
    justify-content: flex-start;
}

.b-header-undertop__hamburger {
    display: block;
    margin-right: 30px;
}

.b-header-undertop__logo {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
    width: 170px;
}

.b-header-undertop__logo-image {
    width: 100%;
}

.b-header-undertop__form-section {
    display: none;
}

.b-header-undertop__search-button-600 {
    display: block;
    /* margin-top: 15px; */
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    margin-right: 20px;
    transition: all 0.4s ease-in-out;
}

.b-header-undertop__search-button-600:hover {
    transform: rotate(360deg) scale(1.2);
}

.b-header-undertop__account {
    padding-right: 0px;
}

.b-header-undertop__account-basket {
    padding-top: 17px;
}

.b-header-undertop__account-basket-number {
    margin-top: 10px;
}

.b-header-undertop__account-link-area {
    display: none;
}
/*end block .b-header-undertop*/

/*begin block .b-header-center*/
.b-header-center {
    display: none;
}
/*end block .b-header-center*/
/*end header*/

/*begin main*/
/*begin block .b-main-slider*/
.b-main-slider__left-rifle {
    display: none;
    z-index: 0;
}

.b-main-slider__left-rifle img {
    display: none;
}

.b-main-slider__right-rifle {
    display: none;
    z-index: 0;
}

.b-main-slider__right-rifle img {
    display: none;
}

.b-main-slider {
    margin-bottom: 26px;
}

.b-main-slider__image-1280 {
    display: none;
}

.b-main-slider__image-960 {
    display: none;
}

.b-main-slider__image-600 {
    display: block;
    width: 100%;
}

.b-main-slider__image-320 {
    display: none;
}
/*end block .b-main-slider*/

/*begin block .b-main-interesting*/
.b-main-interesting-area {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting__caption {
    font-size: 25px;
    margin-bottom: 12px;
}

.b-main-interesting {
    margin-bottom: 19px;
    padding-left: 0px;
}

.b-main-interesting__item {
    margin-bottom: 10px;
    width: 100%;
}

.b-main-interesting__big-item {
    width: 100%;
}

.b-main-interesting__item-1280 {
    display: none;
}

.b-main-interesting__item-960 {
    display: none;
}

.b-main-interesting__item-600 {
    display: block;
    width: 100%;
}

.b-main-interesting__item-320 {
    display: none;
}
/*end block .b-main-interesting*/

/*begin block .b-main-advantages*/
.b-main-advantages {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 28px;
}

.b-main-advantages .b-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
    flex-wrap: wrap;
}

.b-main-advantages__item {
    flex-basis: 50%;
    margin-bottom: -17px;
}

.b-main-advantages__item-figure {
    width: 245px;
}

.b-main-advantages__item-figure a {
    margin-right: 24px;
}

.b-main-advantages__item-figure figcaption {
    width: 140px;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-960 {
    width: 145px;
}
/*end block .b-main-advantages*/

/*begin block .b-main-choice*/
.b-main-choice-area {
    margin-bottom: 13px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-choice {
    grid-auto-rows: 25%;
    grid-template-columns: 50% 50%;
}

.b-main-choice-area .b-container {
    margin-bottom: 15px;
}

.b-main-choice__caption {
    font-size: 25px;
    margin-bottom: 11px;
}

.b-main-choice__item {
    margin-right: 0px;
}

.b-main-choice__item-img-link {
    margin-bottom: 14px;
}

.b-main-choice__item-img-link img {
    width: 100%;
}

.b-main-choice__item-txt-link {
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
}
/*end block .b-main-choice*/

/*begin block .b-main-brands*/
.b-main-brands-area {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 68px;
}

.b-main-brands__caption-area {
    margin-bottom: 10px;
    margin-right: 0px;
}

.b-main-brands__all-brands {
    padding-top: 11px;
}

.b-all-brands-positioner {
    padding-right: 0px;
}

.b-main-brands__all-brands-btn {
    margin-right: 0px;
}

.b-main-brands__left-rifle {
    display: none;
}

.b-main-brands__right-rifle {
    display: none;
}

.b-main-brands {
    margin: 0px 0px 50px -5px;
}

.b-main-brands__item {
    margin-left: 0px;
}

.b-main-brands__item a img {
    width: 134px;
}

.b-main-brands__big-item {
    margin-bottom: 15px;
}

.b-main-brands__big-item-image-1280 {
    display: none;
}

.b-main-brands__big-item-image-960 {
    display: none;
}

.b-main-brands__big-item-image-600 {
    display: block;
    width: 100%;
}

.b-main-brands__big-item-image-320 {
    display: none;
}
/*end block .b-main-brands*/

/*begin block .b-main-interesting-products*/
.b-main-interesting-products {
    margin-bottom: 46px;
}

.b-main-interesting-products .b-container {
    margin-bottom: 38px;
}

.b-main-interesting-products__caption-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.b-main-interesting-products__caption {
    font-size: 25px;
}

.b-main-interesting-products__all-products {
    display: none;
}

.b-main-interesting-products__item-area {
    padding-left: 14px;
}

.b-main-interesting-products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
}

.b-main-interesting-products__item-photo {
    margin-bottom: 0px;
    width: 180px;
    height: 180px;
}

.b-main-interesting-products__item-photo-1280 {
    display: none;
}

.b-main-interesting-products__item-photo-960 {
    display: block;
    width: 190px;
    height: 190px;
}

.b-main-interesting-products__item-name {
    width: 180px;
    font-size: 12px;
    margin-bottom: 0px;
}

.b-main-interesting-products__item-name a {
    color: inherit;
    text-decoration: none;
}

.b-main-interesting-products__item b {
    font-family: "sans-900";
    font-size: 25px;
}

.b-currency {
    font-family: "sans-900";
    font-size: 12px;
}
/*end block .b-main-interesting-products*/

/*begin block .b-main-knowledge-power*/
.b-main-knowledge-power {
    margin-bottom: 30px;
}

.b-main-knowledge-power .b-container {
    margin-bottom: 25px;
}

.b-main-knowledge-power__item {
    height: 1440px;
    font-size: 50px;
}
/*end block .b-main-knowledge-power*/

/*begin block .b-main-recently-viewed*/
.b-main-recently-viewed {
    margin-bottom: 86px;
}

.b-main-recently-viewed__slider-item {
    margin-right: -3px;
}

.b-main-recently-viewed__caption {
    font-size: 25px;
}

.b-main-recently-viewed__caption-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.b-main-recently-viewed__all-viewed {
    display: none;
}

.b-main-recently-viewed__left-rifle {
    margin-right: 16px;
}

.b-main-recently-viewed__left-rifle img {
    height: 25px;
}

.b-main-recently-viewed__right-rifle img {
    height: 25px;
}

.b-main-recently-viewed__item {
    display: flex;
    flex-basis: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    height: 185px;
}

.b-main-recently-viewed__item-photo {
    margin-right: 0px;
    height: 60px;
}

.b-main-recently-viewed__item-promo {
    min-height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 135px;
}

.b-main-recently-viewed__item-name {
    margin-bottom: 2px;
    text-align: center;
}
/*end block .b-main-recently-viewed*/

/*begin block .b-main-stay-touch*/
.b-main-stay-touch__area {
    margin-bottom: 18px;
}

.b-main-stay-touch__caption {
    font-size: 20px;
    margin-bottom: 7px;
}

.b-main-stay-touch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-main-stay-touch__message br {
    display: none;
}

.b-main-stay-touch__message {
    width: 100%;
    line-height: 20px;
}

.b-main-stay-touch__form {
    padding-top: 0px;
}

.b-main-stay-touch__form-input {
    width: 350px;
    margin-right: 1px;
    padding-left: 15px;
}

.b-main-stay-touch__form-button {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 10px;
    font-size: 15px;
}
/*end block .b-main-stay-touch*/
/*end main*/

/*begin footer*/
/*begin block b-footer-top*/
.b-footer-top-area {
    margin-bottom: 24px;
}

.b-footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.b-footer-top__caption {
    margin-bottom: 20px;
}

.b-footer-top__list {
    width: 231px;
}

.b-footer-top-item a br {
    display: none;
}

.b-footer-top__questions-rphone {
    padding-right: 0px;
    display: inline-block;
    width: 221px;
}

.b-footer-top__questions-rphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    background-color: #ffdc00;
    padding-left: 17px;
    padding-top: 6px;
    width: 130px;
}

.b-footer-top__questions-rphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-footer-top__questions-mphone {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 16px;
}

.b-footer-top__questions-mphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    margin-top: -4px;
    background-color: #ffdc00;
    padding-left: 17px;
    padding-top: 6px;
}

.b-footer-top__questions-mphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-footer-top__questions-social {
    display: flex;
    flex-wrap: wrap;
    width: 345px;
}

.b-footer-top__questions-social img {
    width: 35px;
    height: 35px;
    margin-right: 14px;
}
/*end block b-footer-top*/

/*begin block b-footer-bottom*/
.b-footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 41px;
}

.b-footer-bottom__company-copyright {
    padding-left: 0px;
    margin-bottom: 15px;
}

.b-footer-bottom__developer-copyright {
    margin-right: 22px;
    margin-top: 0px;
}
/*end block b-footer-bottom*/
/*end block footer*/

@media (max-width: 599px) {

/*begin header*/
/*begin block .b-header-top*/
.b-container {
    width: 300px;
}

.b-header-top {
    display: none;
}
/*end block .b-header-top*/

/*begin block .b-header-undertop*/
.b-header-undertop {
    margin-bottom: 13px;
}

.b-header-undertop__logo {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-header-undertop__hamburger {
    display: block;
    margin-right: 11px;
}

.b-header-undertop__logo-image {
    width: 170px;
}

.b-header-undertop__form-section {
    display: none;
}

.b-header-undertop__account {
    padding-right: 5px;
}

.b-header-undertop__search-button-600 {
    display: block;
    margin-top: 15px;
    width: 35px;
    height: 35px;
    outline: none;
    border: none;
    background: none;
}

.b-header-undertop__account-basket {
    margin-left: 5px;
}

.b-header-undertop__account-basket-number {
    margin-top: 10px;
}

.b-header-undertop__account-link-area {
    display: none;
}
/*end block .b-header-undertop*/

/*begin block .b-header-center*/
.b-header-center {
    display: none;
}
/*end block .b-header-center*/
/*end header*/

/*begin main*/
/*begin block .b-main-slider*/
.b-main-slider__left-rifle {
    display: none;
}

.b-main-slider__right-rifle {
    display: none;
}

.b-main-slider {
    margin-bottom: 26px;
}

.b-main-slider__image-1280 {
    display: none;
}

.b-main-slider__image-960 {
    display: none;
}

.b-main-slider__image-600 {
    display: none;
}

.b-main-slider__image-320 {
    display: block;
    width: 100%;
}
/*end block .b-main-slider*/

/*begin block .b-main-interesting*/
.b-main-interesting-area {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting__caption {
    font-size: 25px;
    margin-bottom: 12px;
}

.b-main-interesting {
    margin-bottom: 19px;
    padding-left: 0px;
}

.b-main-interesting__item {
    margin-bottom: 10px;
    margin-right: 5px;
}

.b-main-interesting__item-1280 {
    display: none;
}

.b-main-interesting__item-960 {
    display: none;
}

.b-main-interesting__item-600 {
    display: none;
}

.b-main-interesting__item-320 {
    display: block;
}
/*end block .b-main-interesting*/

/*begin block .b-main-advantages*/
.b-main-advantages {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 28px;
}

.b-main-advantages .b-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
    flex-wrap: wrap;
}

.b-main-advantages__item {
    flex-basis: 283px;
    margin-bottom: -17px;
}

.b-main-advantages__item-figure {
    width: 245px;
}

.b-main-advantages__item-figure a {
    margin-right: 24px;
}

.b-main-advantages__item-figure figcaption {
    width: 140px;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-960 {
    width: 145px;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-1280 {
    width: 133px;
}
/*end block .b-main-advantages*/

/*begin block .b-main-choice*/
.b-main-choice-area {
    margin-bottom: 13px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-choice-area .b-container {
    margin-bottom: 15px;
}

.b-main-choice__caption {
    font-size: 20px;
    margin-bottom: 11px;
}

.b-main-choice__item {
    margin-right: -4px;
}

.b-main-choice__item-img-link {
    margin-bottom: 5px;
}

.b-main-choice__item-img-link img {
    width: 147px;
}

.b-main-choice__item-txt-link {
    font-size: 15px;
    margin-bottom: 15px;
}
/*end block .b-main-choice*/

/*begin block .b-main-brands*/
.b-main-brands-area {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.b-main-brands__caption-area {
    margin-bottom: 10px;
    margin-right: -12px;
}

.b-main-brands__all-brands {
    padding-top: 11px;
}

.b-all-brands-positioner {
    padding-right: 4px;
}

.b-main-brands__all-brands-btn {
    margin-right: 4px;
}

.b-main-brands__left-rifle {
    display: none;
}

.b-main-brands__right-rifle {
    display: none;
}

.b-main-brands {
    margin: 0px 0px 35px 0px;
}

.b-main-brands__slider-item {
    border: 1px solid #e0e0e0;
}

.b-main-brands__item {
    height: 75px;
    width: 100px;
    margin-left: -4px;
}

.b-main-brands__item a img {
    width: 83px;
}

.b-main-brands__big-item {
    margin-bottom: 30px;
}

.b-main-brands__big-item-image-1280 {
    display: none;
}

.b-main-brands__big-item-image-960 {
    display: none;
}

.b-main-brands__big-item-image-600 {
    display: none;
}

.b-main-brands__big-item-image-320 {
    display: block;
}
/*end block .b-main-brands*/

/*begin block .b-main-interesting-products*/
.b-main-interesting-products {
    margin-bottom: 46px;
}

.b-main-interesting-products .b-container {
    margin-bottom: 38px;
}

.b-main-interesting-products__caption-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.b-main-interesting-products__caption {
    font-size: 20px;
}

.b-main-interesting-products__all-products {
    display: none;
}

.b-main-interesting-products__item-area {
    padding-left: 14px;
}

.b-main-interesting-products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
}

.b-main-interesting-products__item-photo {
    margin-bottom: 0px;
    width: 150px;
    height: 150px;
}

.b-main-interesting-products__item-photo-1280 {
    display: none;
}

.b-main-interesting-products__item-photo-960 {
    display: block;
    width: 170px;
    height: 170px;
}

.b-main-interesting-products__item-name {
    width: 150px;
    height: 90px;
    font-size: 12px;
    margin-bottom: 0px;
}

.b-main-interesting-products__item-name a {
    color: inherit;
    text-decoration: none;
}

.b-main-interesting-products__item b {
    font-family: "sans-900";
    font-size: 20px;
}

.b-currency {
    font-family: "sans-900";
    font-size: 12px;
}
/*end block .b-main-interesting-products*/

/*begin block .b-main-knowledge-power*/
.b-main-knowledge-power {
    margin-bottom: 20px;
}

.b-main-knowledge-power__caption {
    font-family: "sans-300";
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.b-main-knowledge-power .b-container {
    margin-bottom: 30px;
}

.b-main-knowledge-power__item {
    height: 1440px;
    font-size: 50px;
}
/*end block .b-main-knowledge-power*/

/*begin block .b-main-recently-viewed*/
.b-main-recently-viewed {
    margin-bottom: 35px;
}

.b-main-recently-viewed__slider-item {
    /*margin-right: 11px;*/
}

.b-main-recently-viewed__caption {
    font-size: 20px;
}

.b-main-recently-viewed__caption-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.b-main-recently-viewed__all-viewed {
    display: none;
}

.b-main-recently-viewed__left-rifle {
    margin-right: 16px;
}

.b-main-recently-viewed__left-rifle img {
    height: 25px;
}

.b-main-recently-viewed__right-rifle img {
    height: 25px;
}

.b-main-recently-viewed__item {
    margin-right: -12px;
    display: flex;
    flex-basis: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    height: 185px;
}

.b-main-recently-viewed__item-photo {
    margin-right: 0px;
    height: 60px;
}

.b-main-recently-viewed__item-promo {
    min-height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 135px;
}

.b-main-recently-viewed__item-name {
    margin-bottom: 2px;
    text-align: center;
}
/*end block .b-main-recently-viewed*/

/*begin block .b-main-stay-touch*/
.b-main-stay-touch__area {
    margin-bottom: 18px;
}

.b-main-stay-touch__caption {
    font-size: 20px;
    margin-bottom: 7px;
}

.b-main-stay-touch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-main-stay-touch__message br {
    display: none;
}

.b-main-stay-touch__message {
    width: 100%;
    line-height: 20px;
    font-size: 13px;
}

.b-main-stay-touch__form {
    padding-top: 0px;
}

.b-main-stay-touch__form-input {
    width: 180px;
    margin-right: 1px;
    padding-left: 15px;
}

.b-main-stay-touch__form-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 10px;
    font-size: 9px;
}
/*end block .b-main-stay-touch*/
/*end main*/

/*begin footer*/
/*begin block b-footer-top*/
.b-footer-top-area {
    margin-bottom: 24px;
}

.b-footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.b-footer-top__caption {
    margin-bottom: 20px;
}

.b-footer-top__list {
    width: 231px;
}

.b-footer-top-item a br {
    display: none;
}

.b-footer-top__questions {
    padding-right: 0px;
}

.b-footer-top__questions-rphone {
    margin-top: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 147px;
}

.b-footer-top__questions-rphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    background-color: #ffdc00;
    padding-left: 17px;
    padding-top: 6px;
    width: 130px;
}

.b-footer-top__questions-rphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-footer-top__questions-mphone {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-top: 0px;
    width: 147px;
}

.b-footer-top__questions-mphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    margin-top: -3px;
    background-color: #ffdc00;
    padding-left: 17px;
    padding-top: 6px;
}

.b-footer-top__questions-mphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-footer-top__questions-social {
    display: flex;
    flex-wrap: wrap;
    width: 345px;
}

.b-footer-top__questions-social img {
    width: 35px;
    height: 35px;
    margin-right: 9px;
}
/*end block b-footer-top*/

/*begin block b-footer-bottom*/
.b-footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 41px;
}

.b-footer-bottom__company-copyright {
    padding-left: 0px;
    margin-bottom: 15px;
}

.b-footer-bottom__developer-copyright {
    margin-right: 22px;
    margin-top: 0px;
}
/*end block b-footer-bottom*/
/*end block footer*/