@media (max-width: 959px) {

/*begin header*/
/*begin block .b-header-top*/
.b-container {
    width: 100%;
    padding: 0 20px;
}

.b-header-top {
    display: none;
}
/*end block .b-header-top*/

/*begin block .b-header-undertop*/
.b-header-undertop {
    margin-bottom: 0px;
    align-items: center;
    justify-content: flex-start;
}

.b-header-undertop__hamburger {
    display: block;
    margin-right: 30px;
}

.b-header-undertop__logo {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
    width: 170px;
}

.b-header-undertop__logo-image {
    width: 100%;
}

.b-header-undertop__form-section {
    display: none;
}

.b-header-undertop__search-button-600 {
    display: block;
    /* margin-top: 15px; */
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    margin-right: 20px;
    transition: all 0.4s ease-in-out;
}

.b-header-undertop__search-button-600:hover {
    transform: rotate(360deg) scale(1.2);
}

.b-header-undertop__account {
    padding-right: 0px;
}

.b-header-undertop__account-basket {
    padding-top: 17px;
}

.b-header-undertop__account-basket-number {
    margin-top: 10px;
}

.b-header-undertop__account-link-area {
    display: none;
}
/*end block .b-header-undertop*/

/*begin block .b-header-center*/
.b-header-center {
    display: none;
}
/*end block .b-header-center*/
/*end header*/

/*begin main*/
/*begin block .b-main-slider*/
.b-main-slider__left-rifle {
    display: none;
    z-index: 0;
}

.b-main-slider__left-rifle img {
    display: none;
}

.b-main-slider__right-rifle {
    display: none;
    z-index: 0;
}

.b-main-slider__right-rifle img {
    display: none;
}

.b-main-slider__content {
    margin-bottom: 26px;
}

.b-main-slider__content-image-1280 {
    display: none;
}

.b-main-slider__content-image-960 {
    display: none;
}

.b-main-slider__content-image-600 {
    display: block;
    width: 100%;
}

.b-main-slider__content-image-320 {
    display: none;
}
/*end block .b-main-slider*/

/*begin block .b-main-interesting*/
.b-main-interesting {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting__caption {
    font-size: 25px;
    margin-bottom: 12px;
}

.b-main-interesting__content {
    margin-bottom: 19px;
    padding-left: 0px;
}

.b-main-interesting__content-item {
    margin-bottom: 10px;
    width: 100%;
}-spot

.b-main-interesting__content-item-1280 {
    display: none;
}

.b-main-interesting__content-item-960 {
    display: none;
}

.b-main-interesting__content-item-600 {
    display: block;
    width: 100%;
}

.b-main-interesting__content-item-320 {
    display: none;
}
/*end block .b-main-interesting*/

/*begin block .b-main-advantages*/
.b-main-advantages {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 28px;
}

.b-main-advantages .b-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
    flex-wrap: wrap;
}

.b-main-advantages__item {
    flex-basis: 50%;
    margin-bottom: -17px;
}

.b-main-advantages__item-figure {
    width: 245px;
}

.b-main-advantages__item-figure a {
    margin-right: 24px;
}

.b-main-advantages__item-figure figcaption {
    width: 140px;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-960 {
    width: 145px;
}
/*end block .b-main-advantages*/

/*begin block .b-main-choice*/
.b-main-choice {
    margin-bottom: 13px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-choice__content {
    grid-auto-rows: 25%;
    grid-template-columns: 50% 50%;
}

.b-main-choice .b-container {
    margin-bottom: 15px;
}

.b-main-choice__caption {
    font-size: 25px;
    margin-bottom: 11px;
}

.b-main-choice__content-item {
    margin-right: 0px;
}

.b-main-choice__content-item-img-link {
    margin-bottom: 14px;
}

.b-main-choice__content-item-img-link img {
    width: 100%;
}

.b-main-choice__content-item-txt-link {
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
}
/*end block .b-main-choice*/

/*begin block .b-main-brands*/
.b-main-brands {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 68px;
}

.b-main-brands__caption {
    margin-bottom: 10px;
    margin-right: 0px;
}

.b-main-brands__all-brands {
    padding-top: 11px;
}

.b-main-brands__all-brands-content {
    padding-right: 0px;
}

.b-main-brands__all-brands-content-btn {
    margin-right: 0px;
}

.b-main-brands__all-brands-content-left-rifle {
    display: none;
}

.b-main-brands__all-brands-content-right-rifle {
    display: none;
}

.b-main-brands__slider {
    margin: 0px 0px 50px -5px;
}

.b-main-brands__slider-item-content {
    margin-left: 0px;
}

.b-main-brands__slider-item-content a img {
    width: 134px;
}
/*end block .b-main-brands*/

/*begin block .b-main-advert*/
.b-main-advert {

}

.b-main-advert .b-container {

}

.b-main-advert__item {
    margin-bottom: 15px;
}

.b-main-advert__item-image-1280 {
    display: none;
}

.b-main-advert__item-image-960 {
    display: none;
}

.b-main-advert__item-image-600 {
    display: block;
    width: 100%;
}

.b-main-advert__item-image-320 {
    display: none;
}
/*end block .b-main-advert*/

/*begin block .b-main-interesting-products*/
.b-main-interesting-products {
    margin-bottom: 46px;
}

.b-main-interesting-products .b-container {
    margin-bottom: 38px;
}

.b-main-interesting-products__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.b-main-interesting-products__caption-content {
    font-size: 25px;
}

.b-main-interesting-products__all-products {
    display: none;
}

.b-main-interesting-products__slider {
    padding-left: 14px;
}

.b-main-interesting-products__slider-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
}

.b-main-interesting-products__slider-item-content-photo {
    margin-bottom: 0px;
    width: 180px;
    height: 180px;
}

.b-main-interesting-products__slider-item-content-photo-1280 {
    display: none;
}

.b-main-interesting-products__slider-item-content-photo-960 {
    display: block;
    width: 190px;
    height: 190px;
}

.b-main-interesting-products__slider-item-content-name {
    width: 180px;
    font-size: 12px;
    margin-bottom: 0px;
}

.b-main-interesting-products__slider-item-content-name a {
    color: inherit;
    text-decoration: none;
}

.b-main-interesting-products__slider-item-content b {
    font-family: "sans-900";
    font-size: 25px;
}

.b-currency {
    font-family: "sans-900";
    font-size: 12px;
}
/*end block .b-main-interesting-products*/

/*begin block .b-main-knowledge-power*/
.b-main-knowledge-power {
    margin-bottom: 30px;
}

.b-main-knowledge-power .b-container {
    margin-bottom: 25px;
}

.b-main-knowledge-power__item {
    height: 1440px;
    font-size: 50px;
}
/*end block .b-main-knowledge-power*/

/*begin block .b-main-recently-viewed*/
.b-main-recently-viewed {
    margin-bottom: 86px;
}

.b-main-recently-viewed__slider-item {
    margin-right: -3px;
}

.b-main-recently-viewed__caption-content {
    font-size: 25px;
}

.b-main-recently-viewed__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.b-main-recently-viewed__all-viewed {
    display: none;
}

.b-main-recently-viewed__all-viewed-left-rifle {
    margin-right: 16px;
}

.b-main-recently-viewed__all-viewed-left-rifle img {
    height: 25px;
}

.b-main-recently-viewed__all-viewed-right-rifle img {
    height: 25px;
}

.b-main-recently-viewed__slider-item-content {
    display: flex;
    flex-basis: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    height: 185px;
}

.b-main-recently-viewed__slider-item-content-photo {
    margin-right: 0px;
    height: 60px;
}

.b-main-recently-viewed__slider-item-content-promo {
    min-height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 135px;
}

.b-main-recently-viewed__slider-item-content-promo-name {
    margin-bottom: 2px;
    text-align: center;
}
/*end block .b-main-recently-viewed*/

/*begin block .b-main-stay-touch*/
.b-main-stay-touch {
    margin-bottom: 18px;
}

.b-main-stay-touch__caption {
    font-size: 20px;
    margin-bottom: 7px;
}

.b-main-stay-touch__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-main-stay-touch__content-message {
    width: 100%;
    line-height: 20px;
}

.b-main-stay-touch__content-form {
    padding-top: 0px;
}

.b-main-stay-touch__content-form-input {
    width: 350px;
    margin-right: 1px;
    padding-left: 15px;
}

.b-main-stay-touch__content-form-button {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 10px;
    font-size: 15px;
}
/*end block .b-main-stay-touch*/
/*end main*/

/*begin footer*/
/*begin block b-footer-top*/
.b-footer-top {
    margin-bottom: 24px;
}

.b-footer-top__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.b-footer-top__content-item-caption {
    margin-bottom: 20px;
}

.b-footer-top__content-item-list {
    width: 231px;
}

.b-footer-top__content-item-rphone {
    padding-right: 0px;
    display: inline-block;
    width: 221px;
}

.b-footer-top__content-item-rphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    background-color: #ffdc00;
    padding-left: 17px;
    padding-top: 6px;
    width: 130px;
}

.b-footer-top__content-item-rphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-footer-top__content-item-mphone {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 16px;
}

.b-footer-top__content-item-mphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    margin-top: -4px;
    background-color: #ffdc00;
    padding-left: 17px;
    padding-top: 6px;
}

.b-footer-top__content-item-mphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-footer-top__content-item-social {
    display: flex;
    flex-wrap: wrap;
    width: 345px;
}

.b-footer-top__content-item-social img {
    width: 35px;
    height: 35px;
    margin-right: 14px;
}
/*end block b-footer-top*/

/*begin block b-footer-bottom*/
.b-footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 41px;
}

.b-footer-bottom__company-copyright {
    padding-left: 0px;
    margin-bottom: 15px;
}

.b-footer-bottom__developer-copyright {
    margin-right: 22px;
    margin-top: 0px;
}
/*end block b-footer-bottom*/
/*end block footer*/