@media (max-width: 1279px) {

/*begin header*/
/*begin block .b-header-top*/
.b-container {
    width: 100%;
    padding: 0 20px;
}

.b-header-top {
    margin-bottom: 0px;
}

.b-header-top .b-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-top: 7px;
}

.b-header-top__city {
    font-family: "sans-700";
    font-size: 11px;
    letter-spacing: 0.275px;
    width: 180px;
    margin-right: 8px;
}

.b-header-top__menu {
    margin-left: 0px;
    margin-right: 0px;
}

.b-header-top__menu-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}

.b-header-top__menu-item {
    font-family: "sans-700";
    font-size: 11px;
    letter-spacing: 0.275px;
    padding-right: 18px;
}

.b-header-top__menu-item:last-child {
    padding-right: 0px;
}

.b-header-top__phone {
    padding-right: 0px;
}

.b-header-top__phone a {
    font-family: "sans-700";
    font-size: 11px;
    padding-right: 5px;
}
/*end block .b-header-top*/

/*begin block .b-header-undertop*/
.b-header-undertop {
    margin-bottom: 0px;
}

.b-wrapper {
    margin-right: 99px;
}

.b-header-undertop__search-input {
    width: 100%;
    padding-left: 11px;
}

.b-header-undertop__logo {
    padding-left: 0px;
}

.b-header-undertop__form-section {
    margin-left: 0px;
    margin-right: 49px;
    width: 50%;
    margin-top: 0px;
}

.b-header-undertop__search {
    position: relative;
    border: 1px solid #e0e0e0;
    padding-top: 8px;
    padding-bottom: 4px;
}

.b-header-undertop__search-input {
    width: 100%;
    padding-left: 11px;
}

.b-header-undertop__search-button {
    padding: 0px;
    position: absolute;
    border: none;
    outline: none;
    width: 25px;
    right: 9px;
    top: 6px;
    background: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.b-header-undertop__account {
    margin-right: -20px;
}

.b-header-undertop__account-link {
    padding-right: 20px;
    padding-left: 39px;
    padding-top: 14px;
    padding-bottom: 17px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    text-decoration: none;
}

.b-header-undertop__account-link-content {
    border-right: 1px solid #e0e0e0;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.b-header-undertop__account-basket-link {
    font-size: 38px;
    display: block;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 27px;
    padding-bottom: 15px;
}

.b-header-undertop__account-basket-number {
    font-family: "sans-700";
    color: #333333;
    position: absolute;
    top: 14px;
    right: 25px;
    background-color: #ffdc00;
    border-radius: 50%;
    font-size: 13px;
    padding: 3px;
    width: 15px;
    height: 15px;
    text-align: center;
    box-sizing: content-box;
}
/*end block .b-header-undertop*/

/*begin block .b-header-center*/
.b-header-center__menu {
    margin-left: -20px;
    margin-right: -20px;
}

.b-header-center__menu-list-item-link {
    font-family: "sans-700";
    font-size: 13px;
    padding-top: 21px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 14px;
}
/*end block .b-header-center*/
/*end header*/

/*begin main*/
/*begin block .b-main-slider*/
.b-main-slider__left-rifle {
    top: 154px;
    height: 34px;
}

.b-main-slider__right-rifle {
    top: 154px;
    height: 34px;
}

.b-main-slider__content-image-1280 {
    display: none;
}

.b-main-slider__content-image-960 {
    display: block;
    width: 100%;
}

.b-main-slider__content-image-600 {
    display: none;
}

.b-main-slider__content-image-320 {
    display: none;
}
/*end block .b-main-slider*/

/*begin block .b-main-interesting*/
.b-main-interesting {
    margin-bottom: 27px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting__caption {
    font-size: 20px;
    margin-bottom: 8px;
}

.b-main-interesting__content {
    margin-bottom: 30px;
    padding-left: 0px;
    margin-right: 0px;
}

.b-main-interesting__content-item {
    margin-bottom: 9px;
    width: 50%;
    padding-left: 0px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.b-main-interesting-content .b-main-interesting__content-item--size {
    width: 25%;
}

.b-main-interesting__content-item-1280 {
    display: none;
}

.b-main-interesting__content-item-960 {
    display: block;
    width: 100%;
}

.b-main-interesting__content-item-600 {
    display: none;
}

.b-main-interesting__content-item-320 {
    display: none;
}
/*end block .b-main-interesting*/

/*begin block .b-main-advantages*/
.b-main-advantages {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 27px;
}

.b-main-advantages .b-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.b-main-advantages__item {
    width: 25%;
}

.b-main-advantages__item-figure {
    width: 213px;
}

.b-main-advantages__item-figure-image {
    margin-right: 10px;
    margin-left: 0px;
}

.b-main-advantages__item-figure a {
    margin-right: 9px;
}

.b-main-advantages__item-figure figcaption {
    width: 130px;
}

.b-main-advantages__item-figure figcaption p {
    margin-top: 0px;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-960 {
    width: 90px;
}
/*end block .b-main-advantages*/

/*begin block .b-main-choice*/
.b-main-choice {
    margin-bottom: 13px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-choice .b-container {
    margin-bottom: 21px;
}

.b-main-choice__caption {
    font-size: 20px;
    margin-bottom: 11px;
}

.b-main-choice__content {
    grid-auto-rows: 50%;
}

.b-main-choice__content-item-img-link {
    margin-bottom: 14px;
}

.b-main-choice__content-item-img-link img {
    width: 100%;
}

.b-main-choice__content-item-txt-link {
    font-size: 15px;
    margin-bottom: 10px;
    width: 220px;
}
/*end block .b-main-choice*/

/*begin block .b-main-brands*/
.b-main-brands {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 44px;
}

.b-main-brands__caption {
    margin-bottom: 0px;
}

.b-main-brands__all-brands {
    padding-top: 11px;
    padding-right: 0px;
}

.b-main-brands__all-brands-content {
    padding-right: 0px;
}

.b-main-brands__all-brands-content-btn {
    padding: 5px 15px;
}

.b-main-brands__slider {
    padding-left: 0px;
    padding-right: 0px;
}

.b-main-brands__slider-item {
    display: inline-block;
    border: 1px solid #e0e0e0;
    margin-left: 5px;
    margin-right: 5px;
    /* box-sizing: content-box; */
}

.b-main-brands__slider-item-content {
    height: 100px;
    width: 100%;
}

.b-main-brands__slider-item-content a img {
    width: 100%;
}
/*end block .b-main-brands*/

/*begin block .b-main-advert*/
.b-main-advert {

}

.b-main-advert .b-container {

}

.b-main-advert__item {
    margin-bottom: 15px;
}

.b-main-advert__item-image-1280 {
    display: none;
}

.b-main-advert__item-image-960 {
    display: block;
    width: 100%;
}

.b-main-advert__item-image-600 {
    display: none;
}

.b-main-advert__item-image-320 {
    display: none;
}
/*end block .b-main-advert*/

/*begin block .b-main-interesting-products*/
.b-main-interesting-products {
    margin-bottom: 24px;
}

.b-main-interesting-products .b-container {
    margin-bottom: 63px;
}

.b-main-interesting-products__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.b-main-interesting-products__caption-content {
    font-size: 20px;
}

.b-main-interesting-products__all-products {
    display: flex;
    padding-top: 15px;
}

.b-main-interesting-products__slider-item {
    display: inline-block;
    margin-right: 50px;
    margin-left: 0px;
    outline: none;
}

.b-main-interesting-products__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
    padding-right: 0px;
    margin-right: 0px;
}

.b-main-interesting-products__slider-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 180px;
}

.b-main-interesting-products__slider-item-content-photo {
    margin-bottom: 0px;
    width: 180px;
    height: 180px;
    align-self: center;
}

.b-main-interesting-products__slider-item-content-photo-1280 {
    display: none;
}

.b-main-interesting-products__slider-item-content-photo-960 {
    display: block;
    width: 100%;
    height: 100%;
}

.b-main-interesting-products__slider-item-content-name {
    width: 180px;
    font-size: 13px;
    margin-bottom: 0px;
}

.b-main-interesting-products__slider-item-content-name a {
    color: inherit;
    text-decoration: none;
}

.b-main-interesting-products__slider-item-content strong {
    font-family: "sans-900";
    font-size: 25px;
}

.b-currency {
    font-family: "sans-900";
    font-size: 12px;
}
/*end block .b-main-interesting-products*/

/*begin block .b-main-knowledge-power*/
.b-main-knowledge-power {
    margin-bottom: 30px;
}

.b-main-knowledge-power .b-container {
    margin-bottom: 20px;
}

.b-main-knowledge-power__item {
    height: 875px;
    font-size: 80px;
}
/*end block .b-main-knowledge-power*/

/*begin block .b-main-recently-viewed*/
.b-main-recently-viewed {
    margin-bottom: 86px;
}

.b-main-recently-viewed__caption-content {
    font-size: 20px;
}

.b-main-recently-viewed__all-viewed {
    padding-top: 11px;
    padding-right: 10px;
}

.b-main-recently-viewed__all-viewed-left-rifle {
    margin-right: 10px;
}

.b-main-recently-viewed__all-viewed-left-rifle img {
    height: 25px;
}

.b-main-recently-viewed__all-viewed-right-rifle img {
    height: 25px;
}

.b-main-recently-viewed__slider {
    margin: 0px;
    padding-left: 50px;
}

.b-main-recently-viewed__slider-item-content {
    padding-bottom: 0px;
}

.b-main-recently-viewed__slider-item-content-photo {
    margin-right: 18px;
}

.b-main-recently-viewed__slider-item-content-promo-name {
    margin-bottom: 2px;
}
/*end block .b-main-recently-viewed*/

/*begin block .b-main-stay-touch*/
.b-main-stay-touch__caption {
    font-size: 20px;
    margin-bottom: 9px;
}

.b-main-stay-touch__content-message {
    width: 370px;
    line-height: 20px;
}

.b-main-stay-touch__content-form-input {
    padding: 6px;
    padding-top: 7px;
    margin-right: 7px;
    width: 270px;
    font-size: 15px;
}

.b-main-stay-touch__content-form-button {
    padding-left: 25px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 13px;
}
/*end block .b-main-stay-touch*/
/*end main*/

/*begin footer*/
/*begin block b-footer-top*/
.b-footer-top {
    margin-bottom: 24px;
}

.b-footer-top__content-item-caption {
    margin-bottom: 7px;
}

.b-footer-top__content-item-list {
    width: 200px;
    padding-right: 0px;
}

.b-footer-top__content-item--indent {
    padding-right: 0px;
}

.b-footer-top__content-item-rphone {
    width: 220px;
}

.b-footer-top__content-item-social {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.b-footer-top__content-item-social a {
    margin-right: 14px;
}

.b-footer-top__content-item-social img {
    width: 35px;
    height: 35px;
}
/*end block b-footer-top*/

/*begin block b-footer-bottom*/
.b-footer-bottom__company-copyright {
    padding-left: 0px;
}

.b-footer-bottom__developer-copyright {
    margin-right: 22px;
    margin-top: 0px;
}

.b-footer-bottom {
    padding-bottom: 20px;
}
/*end block b-footer-bottom*/
/*end block footer*/