* {
    box-sizing: border-box;
}

.mobile-wrapper {
    overflow: auto;
    min-width: 320px;
}

/*begin header*/
/*begin block .b-header-top*/
.b-container {
    width: 1190px;
    margin: 0 auto;
}

.b-header-top {
    border-bottom: 1px solid #e0e0e0;
    /* margin-bottom: 19px; */
}

.b-header-top .b-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 11px;
}

.b-header-top__city {
    font-family: "sans-500";
    font-size: 13px;
    color: #666666;
    line-height: 21px;
    text-transform: uppercase;
    width: 209px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 43px;
}

.b-cities-list {
    color: #666666;
    text-decoration: none;
    border-bottom: 1px dashed #666666;
}

.b-cities-list:hover {
    color: #333;
}

.b-cities-list:active {
    color: #000;
}

.b-header-top__menu {

}

.b-header-top__menu-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.b-header-top__menu-item {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    padding-right: 36px;
    /* max-width: 200px; */
}

.b-header-top__menu-item-link {
    display: block;
    color: #666666;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.b-header-top__menu-item-link:hover {
    color: #333;
}

.b-header-top__menu-item-link:active {
    color: #000;
}

.b-header-top__menu-item .b-header-top__menu-item-link--color {
    color: #eb2e2c;
}

.b-header-top__menu-item .b-header-top__promotions:hover {
    color: #ce0909;
}

.b-header-top__menu-item .b-header-top__promotions:active {
    color: #a00808;
}

.b-header-top__phone a {
    font-family: "sans-500";
    font-size: 15px;
    color: #333;
    line-height: 21px;
    letter-spacing: 0.375px;
    text-transform: uppercase;
    text-decoration: none;
}

.b-header-top__phone a:hover {
    text-shadow: 1px 1px 1px #666666;
}

.b-header-top__phone a:active {
    color: #000;
}
/*end block .b-header-top*/

/*begin block .b-header-undertop*/
.b-header-undertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 16px; */
}

.b-header-undertop__logo {
    padding-left: 2px;
}

.b-header-undertop__hamburger {
    display: none;
}

.b-header-undertop__form-section {
    /* flex-grow: 1; */
    margin-left: 90px;
    margin-right: 40px;
    /* padding-top: 2px; */
}

.b-header-undertop__search {
    position: relative;
    border: 1px solid #e0e0e0;
    padding-top: 8px;
    padding-bottom: 3px;
}

.b-header-undertop__search-input {
    width: 688px;
    font-family: "sans-300";
    font-size: 15px;
    color: #666666;
    line-height: 21px;
    padding-left: 13px;
    padding-bottom: 4px;
    outline: none;
    border: none;
}

.b-header-undertop__search-button {
    padding: 0px;
    position: absolute;
    border: none;
    outline: none;
    width: 26px;
    right: 6px;
    top: 5px;
    background: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.b-header-undertop__search-button:hover {
    transform: rotate(360deg) scale(1.2);
}

.b-header-undertop__account {
    display: flex;
    align-items: center;
}

.b-header-undertop__search-button-600 {
    display: none;
}

.b-header-undertop__account-link-area {

}

.b-header-undertop__account-link-area:hover {
    background-color: #f4f4f4;
    /*background-color: red;*/
}

.b-header-undertop__account-link {
    padding-right: 0px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #161616;
    text-decoration: none;
}

.b-header-undertop__account-link-content {
    border-right: 1px solid #e0e0e0;
    text-align: right;
    padding-right: 15px;
}

.b-header-undertop__account-link-room {
    font-family: "sans-700";
    font-size: 13px;
}

.b-header-undertop__account-link-enter {
    font-family: "sans-500";
    font-size: 13px;
    color: #666666;
    text-decoration: none;
    text-align: right;
}

.b-header-undertop__account-link-enter:hover {
    color: #333;
}

.b-header-undertop__account-link-enter:active {
    color: #000;
}

.b-header-undertop__account-basket {
    position: relative;
}

.b-header-undertop__account-basket:hover {
    background-color: #f4f4f4;
    /*background-color: red;*/
}

.b-header-undertop__account-basket-link {
    font-size: 38px;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.b-header-undertop__account-basket-number {
    font-family: "sans-700";
    color: #333333;
    position: absolute;
    top: 25%;
    right: 25%;
    background-color: #ffdc00;
    border-radius: 50%;
    font-size: 13px;
    padding: 3px;
    width: 14px;
    height: 14px;
    text-align: center;
    box-sizing: content-box;
}
/*end block .b-header-undertop*/

/*begin block .b-header-center*/
.b-header-center {
    background-color: #ffdc00;
}

.b-header-center__menu {

}

.b-header-center__menu-list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.b-header-center__menu-list-item:hover {
    background-color: #ffea00;
}

.b-header-center__menu-list-item-link {
    font-family: "sans-700";
    font-size: 15px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-top: 23px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
}
/*end block .b-header-center*/
/*end header*/

/*begin main*/
/*begin block .b-main-slider*/
.b-main-slider {
    position: relative;
}

.b-main-slider__content {
    margin-bottom: 47px;
}

.b-main-slider__content-image-1280 {
    display: block;
    width: 100%;
}

.b-main-slider__content-image-960 {
    display: none;
}

.b-main-slider__content-image-600 {
    display: none;
}

.b-main-slider__content-image-320 {
    display: none;
}

.b-main-slider__left-rifle {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 3px 7px;
    position: absolute;
    z-index: 999;
    top: 382px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-slider__left-rifle:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.b-main-slider__left-rifle:active {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.b-main-slider__left-rifle img {
    height: 100%;
}

.b-main-slider__right-rifle {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 3px 10px;
    position: absolute;
    z-index: 999;
    top: 382px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-slider__right-rifle:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.b-main-slider__right-rifle:active {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.b-main-slider__right-rifle img {
    height: 100%;
}
/*end block .b-main-slider*/

/*begin block .b-main-interesting*/
.b-main-interesting {
    margin-bottom: 27px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting__caption {
    font-family: "sans-700";
    font-size: 25px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 30px;
    margin-top: 0px;
}

.b-main-interesting__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 45px;
    padding-left: 0px;
    margin-right: -10px;
}

.b-main-interesting__content-item {
    width: 50%;
    padding: 5px;
}

.b-main-interesting__content .b-main-interesting__content-item--size {
    width: 25%;
}

.b-main-interesting__content-item-1280 {
    display: block;
    width: 100%;
}

.b-main-interesting__content-item-960 {
    display: none;
}

.b-main-interesting__content-item-600 {
    display: none;
}

.b-main-interesting__content-item-320 {
    display: none;
}
/*end block .b-main-interesting*/

/*begin block .b-main-advantages*/
.b-main-advantages {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 48px;
}

.b-main-advantages .b-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
}

.b-main-advantages__item {
    width: 25%;
}

.b-main-advantages__item-figure {
    display: flex;
    align-items: center;
    margin-right: 55px;
    margin-left: 0px;
}

.b-main-advantages__item-figure-image {
    margin-right: 23px;
    margin-left: 0px;
}

.b-main-advantages__item-figure figcaption {
    font-family: "sans-700";
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-transform: uppercase;
}

.b-main-advantages__item-figure
.b-main-advantages__item-figure--figcaption-size-1280 {
    width: 110px;
}
/*end block .b-main-advantages*/

/*begin block .b-main-choice*/
.b-main-choice {
    margin-bottom: 45px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-choice .b-container {
    margin-bottom: 21px;
}

.b-main-choice__caption {
    font-family: "sans-700";
    font-size: 25px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 31px;
    margin-top: 0px;
}

.b-main-choice__content {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-rows: 320px 320px; */
    grid-auto-rows: 50%;
    /* grid-column-gap: 10px; */
    grid-row-gap: 20px;
}

.b-main-choice__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.b-main-choice__content-item-link {
    text-decoration: none;
    display: block;
}

.b-main-choice__content-item-img-link {
    margin-bottom: 14px;
    /* width: 100%; */
}

.b-main-choice__content-item-img-link img {
    width: 100%;
}

.b-main-choice__content-item-txt-link {
    display: block;
    width: 287px;
    text-align: center;
    font-family: "sans-700";
    font-size: 20px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-bottom: 39px; */
}
/*end block .b-main-choice*/

/*begin block .b-main-brands*/
.b-main-brands {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 41px;
}

.b-main-brands__caption  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 0px;
}

.b-main-brands__caption-content {
    font-family: "sans-700";
    font-size: 25px;
    line-height: 21px;
    color: #333333;
}

.b-main-brands__all-brands {
    padding-top: 15px;
    padding-right: 7px;
}

.b-main-brands__all-brands-content {
    display: flex;
}

.b-main-brands__all-brands-content-btn {
    outline: none;
    color: #333333;
    font-family: "sans-700";
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    padding: 5px 6px;
    margin-right: 10px;
    transition: all 0.1s ease-in-out;
}

.b-main-brands__all-brands-content-btn:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-brands__all-brands-content-btn:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-brands__all-brands-content-left-rifle {
    height: 25px;
    padding: 3px 6px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-brands__all-brands-content-left-rifle:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-brands__all-brands-content-left-rifle:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-brands__all-brands-content-left-rifle img {
    height: 100%;
}

.b-main-brands__all-brands-content-right-rifle {
    height: 25px;
    padding: 3px 6px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-brands__all-brands-content-right-rifle:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-brands__all-brands-content-right-rifle:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-brands__all-brands-content-right-rifle img {
    height: 100%;
}

.b-main-brands__slider {
    margin-bottom: 35px;
    font-size: 0px;
    padding-left: 5px;
}

.b-main-brands__slider-item {
    display: inline-block;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.b-main-brands__slider-item:hover {
    border: 1px solid rgba(0,0,0,0.4);
}

.b-main-brands__slider-item:active {
    border: 1px solid rgba(0,0,0,0.6);
}

.b-main-brands__slider-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 130px;
}

.b-main-brands__slider-item-content a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.b-main-brands__slider-item-content a img {
    width: 100%;
    height: 100%;
}
/*end block .b-main-brands*/

/*begin block .b-main-advert*/
.b-main-advert {

}

.b-main-advert .b-container {

}

.b-main-advert__item {
    margin-bottom: 58px;
}

.b-main-advert__item-image-1280 {
    display: block;
}

.b-main-advert__item-image-960 {
    display: none;
}

.b-main-advert__item-image-600 {
    display: none;
}

.b-main-advert__item-image-320 {
    display: none;
}
/*end block .b-main-advert*/

/*begin block .b-main-interesting-products*/
.b-main-interesting-products {
    margin-bottom: 60px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-interesting-products .b-container {
    margin-bottom: 66px;
}

.b-main-interesting-products__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.b-main-interesting-products__caption-content {
    font-family: "sans-700";
    font-size: 25px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 0px;
    margin-top: 0px;
}

.b-main-interesting-products__all-products {
    display: flex;
    padding-top: 15px;
}

.b-main-interesting-products__all-products-left-rifle {
    display: inline-block;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    padding: 3px 6px;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-interesting-products__all-products-left-rifle:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-interesting-products__all-products-left-rifle:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-interesting-products__all-products-left-rifle img {
    height: 100%;
}

.b-main-interesting-products__all-products-right-rifle {
    display: inline-block;
    height: 25px;
    border: 1px solid #e0e0e0;
    padding: 3px 6px;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-interesting-products__all-products-right-rifle:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-interesting-products__all-products-right-rifle:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-interesting-products__all-products-right-rifle img {
    height: 100%;
}

.b-main-interesting-products__slider {
    padding-left: 20px;
    display: inline-block;
    margin-right: -30px;
    font-size: 0px;
}

.b-main-interesting-products__slider-item {
    display: inline-block;
    margin-right: 49px;
    outline: none;
}

.b-main-interesting-products__slider-item-content {
    display: inline-block;
    outline: none;
}

.b-main-interesting-products__slider-item-content-photo {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    outline: none;
}

.b-main-interesting-products__slider-item-content-photo a {
    outline: none;
}

.b-main-interesting-products__slider-item-content-photo-1280 {
    display: block;
}

.b-main-interesting-products__slider-item-content-photo-960 {
    display: none;
}

.b-main-interesting-products__slider-item-content-name {
    min-height: 60px;
    font-family: "sans-700";
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 9px;
    width: 251px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.b-main-interesting-products__slider-item-content-name a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.b-main-interesting-products__slider-item-content strong {
    font-family: "sans-900";
    font-size: 25px;
}

.b-currency {
    font-family: "sans-900";
    font-size: 12px;
}
/*end block .b-main-interesting-products*/

/*begin block .b-main-knowledge-power*/
.b-main-knowledge-power {
    margin-bottom: 23px;
    border-bottom: 1px solid #e0e0e0;
}

.b-main-knowledge-power .b-container {
    margin-bottom: 46px;
}

.b-main-knowledge-power__caption {
    font-family: "sans-300";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-main-knowledge-power__caption b {
    font-family: "sans-700";
    font-size: 30px;
}

.b-main-knowledge-power__item {
    background-color: aqua;
    height: 1113px;
    word-wrap: break-word;
    font-size: 104px;
    overflow: hidden;
}

.b-main-knowledge-power__item p {
    margin-top: 0px;
    transform: rotate(180deg) skew(15deg);
}
/*end block .b-main-knowledge-power*/

/*begin block .b-main-recently-viewed*/
.b-main-recently-viewed {
    margin-bottom: 81px;
}

.b-main-recently-viewed__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.b-main-recently-viewed__caption-content {
    font-family: "sans-700";
    font-size: 25px;
    line-height: 21px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-main-recently-viewed__all-viewed {
    padding-top: 15px;
}

.b-main-recently-viewed__all-viewed-left-rifle {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    padding: 3px 6px;
    height: 25px;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-recently-viewed__all-viewed-left-rifle:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-recently-viewed__all-viewed-left-rifle:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-recently-viewed__all-viewed-left-rifle img {
    height: 100%;
}

.b-main-recently-viewed__all-viewed-right-rifle {
    display: inline-block;
    border: 1px solid #e0e0e0;
    padding: 3px 6px;
    height: 25px;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.b-main-recently-viewed__all-viewed-right-rifle:hover {
    border: 1px solid rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.b-main-recently-viewed__all-viewed-right-rifle:active {
    border: 1px solid rgba(0,0,0,0.6);
    transform: scale(1.05);
}

.b-main-recently-viewed__all-viewed-right-rifle img {
    height: 100%;
}

.b-main-recently-viewed__slide {
    padding-left: 16px;
    margin-right: -22px;
}

.b-main-recently-viewed__slider-item {
    display: inline-block;
    width: 290px;
    margin-right: 6px;
}

.b-main-recently-viewed__slider-item-content {
    display: flex;
    flex-basis: 240px;
    justify-content: flex-start;
    align-items: center;
}

.b-main-recently-viewed__slider-item-content-photo {
    width: 90px;
    margin-right: 15px;
    padding-top: 10px;
}

.b-main-recently-viewed__slider-item-content-photo a {
    outline: none;
}

.b-main-recently-viewed__slider-item-content-promo {
    min-height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 135px;
}

.b-main-recently-viewed__slider-item-content-promo-name {
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "sans-700";
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    margin-bottom: -2px;
}

.b-main-recently-viewed__slider-item-content-promo-name a {
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    outline: none;
}

.b-main-recently-viewed__slider-item-content-promo-price {
    font-family: "sans-900";
    font-size: 18px;
    color: #161616;
    line-height: 24px;
}

.b-main-recently-viewed__slider-item-content-promo-price--color {
    color: #eb2e2c;
}
/*end block .b-main-recently-viewed*/

/*begin block .b-main-stay-touch*/
.b-main-stay-touch {
    margin-bottom: 27px;
}

.b-main-stay-touch__caption {
    font-family: "sans-700";
    font-size: 25px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-main-stay-touch__content {
    display: flex;
    justify-content: space-between;
}

.b-main-stay-touch__content-message {
    font-family: "sans-500";
    font-size: 15px;
    color: #333333;
    width: 570px;
}

.b-main-stay-touch__content-form {
    padding-top: 10px;
}

.b-main-stay-touch__content-form-input {
    padding: 7px;
    margin-right: 7px;
    width: 370px;
    font-family: "sans-500";
    font-size: 15px;
    line-height: 21px;
    outline: none;
    border: 1px solid #e0e0e0;
}

.b-main-stay-touch__content-form-button {
    padding-left: 36px;
    padding-right: 39px;
    padding-top: 10px;
    padding-bottom: 8px;
    border: none;
    font-family: "sans-700";
    font-size: 15px;
    line-height: 21px;
    background-color: #ffdc00;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.b-main-stay-touch__content-form-button:hover {
    background-color: #ffea00;
    box-shadow: 1px 1px 1px #666;
}

.b-main-stay-touch__content-form-button:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: none;
}
/*end block .b-main-stay-touch*/
/*end main*/

/*begin footer*/
.b-footer {
    background-color: #efede7;
    padding-top: 17px;
}

/*begin block b-footer-top*/
.b-footer-top {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.b-footer-top__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.b-footer-top__content-item-caption {
    font-family: "sans-700";
    font-size: 18px;
    line-height: 26px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 10px;
}

.b-footer-top__content-item-list {
    width: 222px;
    padding-right: 10px;
}

.b-footer-top__content-item-list-item {
    margin-bottom: 5px;
}

.b-footer-top__content-item-list-item a {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #666666;
    text-decoration: none;
}

.b-footer-top__content-item-list-item a:hover {
    color: #333;
}

.b-footer-top__content-item-list-item a:active {
    color: #000;
}

.b-footer-top__content-item--indent {
    padding-right: 20px;
}

.b-footer-top__content-item-mphone {
    margin-bottom: -11px;
}

.b-footer-top__content-item-mphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    margin-top: -4px;
    transition: all 0.1s ease-in-out;
}

.b-footer-top__content-item-mphone a:hover {
    text-shadow: 1px 1px 1px #666666;
}

.b-footer-top__content-item-mphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: -11px;
}

.b-footer-top__content-item-rphone {
    margin-bottom: 16px;
}

.b-footer-top__content-item-rphone a {
    font-family: "sans-700";
    font-size: 15px;
    line-height: 35px;
    color: #161616;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.b-footer-top__content-item-rphone a:hover {
    text-shadow: 1px 1px 1px #666666;
}

.b-footer-top__content-item-rphone p {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 19px;
    color: #161616;
    margin-top: -10px;
}

.b-footer-top__content-item-social {
    display: flex;
    flex-wrap: wrap;
    width: 246px;
}

.b-footer-top__content-item-social a {
    margin-right: 8px;
}

.b-footer-top__content-item-social img {
    width: 40px;
    height: 40px;
    transition: all 0.4s ease-in-out;
}

.b-footer-top__content-item-social img:hover {
    transform: rotate(360deg) scale(1.2);
}
/*end block b-footer-top*/

/*begin block b-footer-bottom*/
.b-footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.b-footer-bottom__company-copyright {
    font-family: "sans-500";
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    padding-left: 2px;
}

.b-footer-bottom__developer-copyright {
    display: flex;
    font-family: "sans-500";
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    margin-right: 60px;
    margin-top: -2px;
}

.b-footer-bottom__developer-copyright img {
    margin-right: 10px;
}

.b-footer-bottom__developer-copyright a {
    color: #666666;
}
/*end block b-footer-bottom*/
/*end block footer*/